.container {
  height: 180px;
  font-family: "Roboto Flex", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 140px;
}

.cvaide,
.cvTools,
.support {
  padding-top: 20px;
}

.cvaide {
  padding-left: 80px;
  font-size: 30px;
  color: #8e5748;
  font-style: italic;
  font-weight: bold;
  font-family: "Fredericka the Great", cursive;
}

/* git remote add origin https://github.com/<username>/nextjs-blog.git */

.cvaide span {
  font-size: 20px;
  /* color: #040b51; */
}

.cvTools > ul li,
.support > ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.first {
  font-weight: bold;
  margin-bottom: 5px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
