.container {
  width: 90vw;
  height: 80px;
  padding: 10px 60px;
  /* border-bottom: 2px solid #ddd; */
  background-color: #fff;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  font-family: "Fredericka the Great", cursive;
}

.logoElement,
.logoElementSmall {
  font-size: 45px;
  color: #8e5748;
  font-style: italic;
  font-weight: bold;
}

.logoElementSmall {
  font-size: 30px;
}

.logoElement:hover,
.logoElementSmall:hover {
  transform: scale(1.2);
}

.linkContainer {
  padding: 10px;
  color: #263a5f;
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  flex: 1;
  color: #374046;
  cursor: pointer;
}

.link {
  margin-left: 50px;
  text-decoration: none;
  transition: all 0.1s;
  font-family: "Roboto Flex", sans-serif;
}

.link:hover {
  text-decoration: underline;
  text-decoration-style: solid 1px;
  text-decoration-color: red;
  text-underline-offset: 3px;
  font-size: 21px;
}

.profileImageWrapper {
  margin-left: 35px;
}

.profileImageWrapper {
  /* width: 30px;
  height: 30px;
  background-color: red; */
}

.profileImg {
  border-radius: 50%;
}
